<!-- Title -->
<app-title-section [title]="'Kills'"></app-title-section>

<!-- Button toggle -->
<mat-button-toggle-group class="button-toggle-full-width">
  <mat-button-toggle (click)="getMeleeKillData()">Melee</mat-button-toggle>
  <mat-button-toggle (click)="getLauncherData()">Launcher</mat-button-toggle>
  <mat-button-toggle (click)="getPistolData()">Pistol</mat-button-toggle>
  <mat-button-toggle (click)="getShottyData()">Shotgun</mat-button-toggle>
  <mat-button-toggle (click)="getSmgKillData()">SMG</mat-button-toggle>
  <mat-button-toggle (click)="getAssaultKillData()">Assault</mat-button-toggle>
  <mat-button-toggle (click)="getLmgData()">LMG</mat-button-toggle>
  <mat-button-toggle (click)="getMarksmanKillData()" [checked]="true">Marksman</mat-button-toggle>
  <mat-button-toggle (click)="getSniperKillData()">Sniper</mat-button-toggle>
</mat-button-toggle-group>

<!-- Loading -->
<app-loading *ngIf="isLoading"></app-loading>

<!-- Dynamic table outlet -->
<ng-container #outlet></ng-container>

<!-- Dynamic table template -->
<ng-template #content>
  <app-dynamic-table *ngIf="tableData" [tableConfig]="(tableConfig)!" [columnConfig]="columnConfig" [data]="tableData"
    (selectionChange)="handleSelectionChangeEvent($event)" (buttonClick)="handleButtonClickEvent($event)">
  </app-dynamic-table>
</ng-template>