<!-- Title -->
<app-title-section icon="event" [title]="'Events'"></app-title-section>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <!-- Loading -->
            <app-loading *ngIf="isLoading"></app-loading>
        </div>
    </div>
    <div class="row" *ngIf="!isLoading">
        <div class="col-xs-12">
            <!-- Buttons -->
            <button mat-mini-fab color="accent" (click)="edit()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <!-- Dynamic table outlet -->
            <ng-container #outlet></ng-container>
        </div>
    </div>
</div>

<!-- Dynamic table template -->
<ng-template #content>
    <app-dynamic-table
        *ngIf="!isLoading"
        [tableConfig]="tableConfig!"
        [columnConfig]="columnConfig"
        [data]="tableData"
        (selectionChange)="handleSelectionChangeEvent($event)"
        (buttonClick)="handleButtonClickEvent($event)"
    >
    </app-dynamic-table>
</ng-template>
