.notification-card {
    color: white;
    background-image: linear-gradient(195deg, #42424a, #191919);

    & .notification-icon {
        height: 40px;
        width: 40px;
        font-size: 40px;
    }

    & .notification-icon.info {
        color: #03a9f4;
    }
    & .notification-icon.warning {
        color: #ff9800;
    }
    & .notification-icon.error {
        color: #f44336;
    }
}
