.user-info-panel {
    background: transparent;
    
    & .mat-expansion-panel-header {
        height: 60px;
        padding: 0 16px;
        background: transparent !important;
    }

    & ::ng-deep .mat-expansion-panel-body {
       padding: 0;
    }
}

.user-info-card {
    padding: 0;
    background: inherit;

    & .mat-card-subtitle {
        margin-bottom: 0;
    }
}