<form (ngSubmit)="login()" style="padding: 2rem">
    <mat-form-field appearance="standard">
        <mat-label>Email</mat-label>
        <input matInput type="text" [formControl]="email" />
    </mat-form-field>
    <mat-form-field appearance="standard">
        <mat-label>Password</mat-label>
        <input matInput type="password" [formControl]="password" />
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary">Log in</button>
    <button
        mat-flat-button
        type="button"
        style="margin-left: 8px"
        (click)="forgotPassword()"
    >
        Forgot password
    </button>
</form>
