<!-- Title -->
<app-title-section
    icon="event"
    [title]="'Event details'"
    [subTitle]="event.name"
    [buttonIcon]="eventEnded ? '' : 'block'"
    (buttonClick)="endEvent()"
></app-title-section>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <!-- Loading -->
            <app-loading *ngIf="isLoading"></app-loading>
        </div>
    </div>
    <div class="row" *ngIf="!isLoading && !eventEnded">
        <div class="col-xs-12">
            <!-- Buttons -->
            <button mat-mini-fab color="accent" (click)="endEvent()">
                <mat-icon>block</mat-icon>
            </button>
        </div>
    </div>
    <div class="row" *ngIf="!isLoading">
        <div class="col-xs-12">
            <!-- Form -->
            <mat-card [class]="elevation" class="animate__animated animate__fadeIn" style="margin-top: 1rem">
                <mat-card-content>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <mat-list class="card-list">
                                    <div mat-subheader>Details</div>
                                    <mat-list-item>
                                        <mat-icon mat-list-icon>
                                            event_seat
                                        </mat-icon>
                                        <div mat-line>{{ event.name }}</div>
                                        <div mat-line>Name</div>
                                    </mat-list-item>
                                    <mat-list-item>
                                        <mat-icon mat-list-icon>
                                            place
                                        </mat-icon>
                                        <div mat-line>{{ event.location }}</div>
                                        <div mat-line>Location</div>
                                    </mat-list-item>
                                    <mat-list-item>
                                        <mat-icon mat-list-icon>
                                            event
                                        </mat-icon>
                                        <div mat-line>
                                            {{ event.startDate | date }}
                                        </div>
                                        <div mat-line>Start Date</div>
                                    </mat-list-item>
                                    <mat-list-item *ngIf="event.endDate">
                                        <mat-icon mat-list-icon>
                                            event
                                        </mat-icon>
                                        <div mat-line>
                                            {{ event.endDate | date }}
                                        </div>
                                        <div mat-line>End Date</div>
                                    </mat-list-item>
                                    <mat-list-item *ngIf="!event.endDate">
                                        <mat-icon mat-list-icon>
                                            event
                                        </mat-icon>
                                        <div mat-line>Ongoing</div>
                                        <div mat-line>End Date</div>
                                    </mat-list-item>
                                </mat-list>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <mat-list class="card-list">
                                    <div mat-subheader>Players</div>
                                    <mat-list-item
                                        *ngFor="let player of event.players"
                                    >
                                        <mat-icon mat-list-icon>
                                            person
                                        </mat-icon>
                                        <div mat-line>
                                            {{ player.player?.name }}
                                        </div>
                                        <div mat-line>
                                            {{ player.player?.gamertag }}
                                        </div>
                                    </mat-list-item>
                                </mat-list>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

<!-- Stats -->
<app-title-section [title]="'Event stats'"></app-title-section>

<div class="container-fluid">
    <div class="row animate__animated animate__fadeIn">
        <div class="col-xs-12">
            <!-- Button toggle mode -->
            <mat-button-toggle-group class="button-toggle-full-width">
                <mat-button-toggle
                    (click)="setStatsMode('lifetime')"
                    [checked]="statsMode == 'lifetime'"
                >
                    Lifetime
                </mat-button-toggle>
                <mat-button-toggle
                    (click)="setStatsMode('warzone')"
                    [checked]="statsMode == 'warzone'"
                >
                    Warzone
                </mat-button-toggle>
                <mat-button-toggle
                    (click)="setStatsMode('vanguard')"
                    [checked]="statsMode == 'vanguard'"
                >
                    Vanguard
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </div>
    <div class="row animate__animated animate__fadeIn">
        <div class="col-xs-12">
            <!-- Button toggle stats -->
            <mat-button-toggle-group class="button-toggle-full-width">
                <mat-button-toggle
                    (click)="getStats('statsStart')"
                    [checked]="statsViewed == 'statsStart'"
                >
                    Start
                </mat-button-toggle>
                <mat-button-toggle
                    (click)="getStats('statsEnd')"
                    [checked]="statsViewed == 'statsEnd'"
                    *ngIf="eventEnded"
                >
                    End
                </mat-button-toggle>
                <mat-button-toggle
                    (click)="getStats('statsCurrent')"
                    [checked]="statsViewed == 'statsCurrent'"
                    *ngIf="!eventEnded && !isLoadingCurrent"
                >
                    Current
                </mat-button-toggle>
                <mat-button-toggle
                    (click)="getStats('statsCompared')"
                    [checked]="statsViewed == 'statsCompared'"
                >
                    Compared
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </div>
    <div class="row" *ngIf="isLoading">
        <div class="col-xs-12">
            <!-- Loading -->
            <app-loading></app-loading>
        </div>
    </div>
    <div class="row animate__animated animate__fadeIn">
        <div class="col-xs-12">
            <!-- Dynamic table outlet -->
            <ng-container #outlet></ng-container>
        </div>
    </div>
</div>

<!-- Dynamic table template -->
<ng-template #content>
    <app-dynamic-table
        *ngIf="tableData"
        [tableConfig]="tableConfig!"
        [columnConfig]="columnConfig"
        [data]="tableData"
        (selectionChange)="handleSelectionChangeEvent($event)"
        (buttonClick)="handleButtonClickEvent($event)"
    >
    </app-dynamic-table>
</ng-template>
