<!-- Main container -->
<div class="main-container">
    <!-- Loader -->
    <app-loading *ngIf="isLoading" class="main-loading"></app-loading>

    <!-- Login landing page -->
    <app-fb-landing *ngIf="!isLoading && !isLoggedIn()"></app-fb-landing>

    <!-- Main content -->
    <mat-sidenav-container
        class="sidenav-container"
        *ngIf="!isLoading && isLoggedIn()"
    >
        <mat-sidenav
            #sidenav
            [mode]="mobileQuery.matches ? 'push' : 'side'"
            [fixedInViewport]="true"
            fixedTopGap="0"
            fixedBottomGap="0"
            class="sidenav theme-dark"
            [opened]="sidenavOpen"
        >
            <mat-card class="sidenav-card mat-elevation-z8 animate__animated animate__fadeInLeft">
                <!-- User info -->
                <app-user-info></app-user-info>
                <!-- Sidenav -->
                <app-sidenav [navgroups]="(navLinks$ | async)!"></app-sidenav>
            </mat-card>
        </mat-sidenav>
        <mat-sidenav-content class="sidenav-content">
            <!-- Toolbar -->
            <app-toolbar (sidebarChange)="changeSidebar($event)"></app-toolbar>

            <!-- Scroll content wrapper -->
            <div class="scroll-content-wrapper">
                <!-- Scroll content -->
                <div class="scroll-content" (scroll)="onScroll($event)">
                    <!-- Router Outlet -->
                    <div class="content-wrapper"> 
                        <router-outlet #outlet="outlet"></router-outlet>
                    </div>
                </div>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
