<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="title-section">
                <mat-icon *ngIf="icon" class="icon">{{ icon }}</mat-icon>
                <h1 class="title">{{ title }}</h1>
                <button
                    *ngIf="buttonIcon"
                    mat-mini-fab
                    color="accent"
                    (click)="emitButtonClick()"
                >
                    <mat-icon>{{ buttonIcon }}</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>
