.title-container {
    margin: 32px 0;

    & .title-image {
        height: 100px;
        border-radius: 8px;
        background-color: purple;
    }

    & .title-card {
        margin: -36px 16px 0 16px;

        & .title {
            margin-bottom: 4px;
        }

        & .subtitle {
            margin: 0;
        }

        & .button {
            position: absolute;
            right: 16px;
        }
    }
}
