<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="title-container">
                <div [class]="imageClass" class="title-image animate__animated animate__fadeIn">
                    <div class="overlay"></div>
                </div>
                <mat-card class="title-card animate__animated animate__fadeInDown">
                    <mat-card-header>
                        <mat-icon mat-card-avatar *ngIf="icon" class="icon">
                            {{ icon }}
                        </mat-icon>
                        <mat-card-title class="title">
                            {{ title }}
                        </mat-card-title>
                        <mat-card-subtitle class="subtitle">
                            {{ subTitle }}
                        </mat-card-subtitle>
                        <button
                            *ngIf="buttonIcon"
                            mat-mini-fab
                            class="button"
                            color="accent"
                            (click)="emitButtonClick()"
                        >
                            <mat-icon>{{ buttonIcon }}</mat-icon>
                        </button>
                    </mat-card-header>
                </mat-card>
            </div>
        </div>
    </div>
</div>
