<!-- Title -->
<app-title-section [title]="'Modern Warfare stats'"></app-title-section>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <!-- Button toggle -->
            <mat-button-toggle-group class="button-toggle-full-width">
                <mat-button-toggle (click)="getLifetime()" checked
                    >Lifetime</mat-button-toggle
                >
                <mat-button-toggle (click)="getWeekly()"
                    >Weekly</mat-button-toggle
                >
            </mat-button-toggle-group>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <!-- Loading -->
            <app-loading *ngIf="isLoading"></app-loading>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <!-- Dynamic table outlet -->
            <ng-container #outlet></ng-container>
        </div>
    </div>
</div>

<!-- Dynamic table template -->
<ng-template #content>
    <app-dynamic-table
        *ngIf="tableData"
        [tableConfig]="tableConfig!"
        [columnConfig]="columnConfig"
        [data]="tableData"
        (selectionChange)="handleSelectionChangeEvent($event)"
        (buttonClick)="handleButtonClickEvent($event)"
    >
    </app-dynamic-table>
</ng-template>
