<!-- Players -->
<app-title-section [title]="'Players'"></app-title-section>
<!-- loading -->
<div class="container-fluid">
    <div class="row" *ngIf="isLoadingPlayers">
        <div class="col-xs-12">
            <app-loading></app-loading>
        </div>
    </div>
</div>
<!-- Cards -->
<div class="container-fluid">
    <div class="row" *ngIf="!isLoadingPlayers && players">
        <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let player of players">
            <app-player-card [player]="player"></app-player-card>
        </div>
    </div>
    <div class="row" *ngIf="!isSsoTokenSet">
        <div class="col-xs-12">
            <mat-card>
                <mat-card-content>
                    To access Call of Duty API features, please set your SSO
                    Token in your profile.
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button routerLink="/fb-profile">Open Profile</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>

<!-- Events -->
<app-title-section [title]="'Events'"></app-title-section>
<!-- loading -->
<div class="container-fluid">
    <div class="row" *ngIf="isLoadingEvents">
        <div class="col-xs-12">
            <app-loading></app-loading>
        </div>
    </div>
</div>
<!-- Cards -->
<div class="container-fluid">
    <div class="row" *ngIf="!isLoadingEvents && events">
        <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let event of events">
            <app-event-card [event]="event"></app-event-card>
        </div>
    </div>
</div>

<!-- Videos -->
<app-title-section [title]="'Videos'"></app-title-section>
<!-- loading -->
<div class="container-fluid">
    <div class="row" *ngIf="isLoadingVideos">
        <div class="col-xs-12">
            <app-loading></app-loading>
        </div>
    </div>
</div>
<!-- Cards -->
<div class="container-fluid">
    <div class="row" *ngIf="!isLoadingVideos && videos">
        <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let video of videos">
            <app-video-card [video]="video"></app-video-card>
        </div>
    </div>
</div>
