<!-- Players -->
<app-title-section icon="people" [title]="'Players'"></app-title-section>
<!-- loading -->
<div class="container-fluid">
    <div class="row" *ngIf="isLoadingPlayers">
        <div class="col-xs-12">
            <app-loading></app-loading>
        </div>
    </div>
</div>
<!-- Cards -->
<div class="container-fluid">
    <div class="row" *ngIf="isSsoTokenSet() && !isLoadingPlayers && players">
        <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let player of players">
            <app-player-card [player]="player"></app-player-card>
        </div>
    </div>
    <div class="row" *ngIf="!isSsoTokenSet()">
        <div class="col-xs-12">
            <app-notification-card
                type="warning"
                title="No SSO Token"
                subtitle="To access Call of Duty API features, please set your SSO Token in your profile."
                buttonText="Profile"
                buttonLink="/fb-profile"
            ></app-notification-card>
        </div>
    </div>
</div>

<!-- Events -->
<app-title-section icon="event" [title]="'Events'"></app-title-section>
<!-- loading -->
<div class="container-fluid">
    <div class="row" *ngIf="isLoadingEvents">
        <div class="col-xs-12">
            <app-loading></app-loading>
        </div>
    </div>
</div>
<!-- Cards -->
<div class="container-fluid">
    <div class="row" *ngIf="!isLoadingEvents && events">
        <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let event of events">
            <app-event-card [event]="event"></app-event-card>
        </div>
    </div>
</div>

<!-- Videos -->
<app-title-section icon="videocam" [title]="'Videos'"></app-title-section>
<!-- loading -->
<div class="container-fluid">
    <div class="row" *ngIf="isLoadingVideos">
        <div class="col-xs-12">
            <app-loading></app-loading>
        </div>
    </div>
</div>
<!-- Cards -->
<div class="container-fluid">
    <div class="row" *ngIf="!isLoadingVideos && videos">
        <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let video of videos">
            <app-video-card [video]="video"></app-video-card>
        </div>
    </div>
</div>
