/* imports */
@import "./theme.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.spacer {
  flex: 1 1 auto;
}

.main-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.sidenav-container {
  flex: 1;
}

.sidenav {
  width: 270px;
}

.scroll-content-wrapper {
  display: flex;
  flex-grow: 1;
  height: calc(100vh - 64px);
  width: 100%;
  overflow: hidden;
}

.scroll-content {
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

// Flex layout
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 16px 0;
}

.column {
  flex: 100%;
  max-width: 100%;
  padding: 0 4px;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .column {
    flex: 100%;
    max-width: calc(100% - 8px);
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .column {
    flex: 50%;
    max-width: calc(50% - 8px);
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .column {
    flex: 33.333333%;
    max-width: calc(33.333333% - 8px);
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .column {
    flex: 25%;
    max-width: calc(25% - 8px);
  }
}

// Cards
.mat-card-avatar.mat-icon {
  height: 40px;
  width: 40px;
  font-size: 40px;
}

// Forms
mat-form-field {
  width: 100%;
}

.radio-group-vertical .mat-radio-group {
  display: flex;
  flex-direction: column;

  .mat-radio-button {
    margin: 5px 0;
  }
}

// Helpers
.w-100 {
  width: 100%;
}
