/* imports */
@import "./theme.scss";

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.spacer {
    flex: 1 1 auto;
}

.main-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.sidenav-container {
    flex: 1;
}

.sidenav {
    width: 270px;
}

.scroll-content-wrapper {
    display: flex;
    flex-grow: 1;
    height: calc(100vh - 64px);
    width: 100%;
    overflow: hidden;
}

.scroll-content {
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

// Buttons
button {
    text-transform: uppercase !important;
    width: 100%;
}

.button-toggle-full-width {
    display: flex !important;
    flex-wrap: wrap !important;
}
.button-toggle-full-width .mat-button-toggle {
    flex-grow: 1 !important;
}

// Cards
.mat-card-avatar.mat-icon {
    height: 40px;
    width: 40px;
    font-size: 40px;
}

.card-list {
  padding: 0;
  margin: 0 -16px 16px -16px;
}

// Forms
app-dynamic-form {
  width: 100%;
}

mat-form-field {
    width: 100%;
}

.radio-group-vertical .mat-radio-group {
    display: flex;
    flex-direction: column;

    .mat-radio-button {
        margin: 5px 0;
    }
}