/* imports */
@import "./theme.scss";

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.theme-dark input {
    color: white;
}

.spacer {
    flex: 1 1 auto;
}

.main-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.sidenav-container {
    flex: 1;
}

.scroll-content-wrapper {
    display: flex;
    flex-grow: 1;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.scroll-content {
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 1rem;
}

// nav
.navlink {
    border-radius: 8px;
    transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navlink-active {
    background: #009688 !important;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
        0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

// Buttons
button {
    text-transform: uppercase !important;
    //width: 100%;
}

.mat-dialog-actions > button {
    width: auto;
}

.button-toggle-full-width {
    display: flex !important;
    flex-wrap: wrap !important;
    border: none !important;
    padding: 1em 0;
}
.button-toggle-full-width .mat-button-toggle {
    flex-grow: 1;
    background: none;
    border: none !important;
    border-radius: 8px !important;
}

.mat-button-toggle-checked {
    background: #009688 !important;
    color: #fff !important;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
        0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%) !important;
}
.mat-button-toggle-checked .mat-button-toggle-focus-overlay {
    border-bottom: solid 48px !important;
}

// Cards
.mat-card {
    border-radius: 8px !important;
    margin-bottom: 1rem;
}

.mat-card .mat-divider-horizontal {
    position: absolute !important;
    left: 1rem !important;
    width: calc(100% - 2rem) !important;
}

.mat-card-avatar.mat-icon {
    height: 40px;
    width: 40px;
    font-size: 40px;
}

.card-list {
    padding: 0;
    margin: 0 -16px 16px -16px;
}

// Forms
app-dynamic-form {
    width: 100%;
}

mat-form-field {
    width: 100%;
}

.radio-group-vertical .mat-radio-group {
    display: flex;
    flex-direction: column;

    .mat-radio-button {
        margin: 5px 0;
    }
}

// wrappers
.icon-text {
    display: flex;
    flex-direction: row;
    align-items: center;

    & .mat-icon {
        margin-right: 0.5rem;
    }
}

// Helpers
.hidden {
    display: none !important;
}
.txt-red {
    color: #f44336;
}

.txt-green {
    color: #4caf50;
}
