.toolbar {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: calc(100% - 2rem);
    border-radius: 8px;
    z-index: 999;
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}
