<mat-toolbar class="toolbar mat-elevation-z4">
    <!-- Toggle menu -->
    <button mat-icon-button (click)="emitSidebarChange('toggle')">
        <mat-icon>menu</mat-icon>
    </button>

    <!-- Spacer -->
    <span class="spacer"></span>

    <!-- Themes -->
    <!-- <button mat-icon-button (click)="emitThemeChange('light')">
        <mat-icon>light_mode</mat-icon>
    </button>
    <button mat-icon-button (click)="emitThemeChange('dark')">
        <mat-icon>dark_mode</mat-icon>
    </button> -->
</mat-toolbar>
