<!-- Title -->
<app-title-section title="Edit Profile"></app-title-section>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <!-- Loading -->
            <app-loading *ngIf="isLoading"></app-loading>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <!-- Email validation -->
            <mat-card [class]="elevation" *ngIf="user && !user.emailVerified">
                <mat-card-content>
                    <span>
                        Your email has not been verified, please check your
                        inbox!
                    </span>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button (click)="sendVerification()">
                        Resend verification
                    </button>
                </mat-card-actions>
            </mat-card>

            <!-- Form -->
            <mat-card [class]="elevation">
                <mat-card-content>
                    <div class="container-fluid">
                        <app-dynamic-form
                            *ngIf="formControls"
                            [appearance]="formAppearance"
                            [color]="formColor"
                            [formControls]="formControls"
                            [allowInvalidSubmit]="allowInvalidSubmit"
                            (formSubmit)="handleFormSubmit($event)"
                        >
                        </app-dynamic-form>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
