<!-- Card -->
<mat-card [class]="'event-card ' + elevation + ' animate__animated animate__zoomIn'">
    <mat-card-header *ngIf="event">
        <img *ngIf="event.image" mat-card-avatar [src]="event.image" />
        <mat-card-title>{{ event.name }}</mat-card-title>
        <mat-card-subtitle>{{ event.location }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content *ngIf="event">
        <!-- compact -->
        <mat-list class="card-list">
            <mat-list-item>
                <mat-icon mat-list-icon>event_available</mat-icon>
                <div mat-line>{{ event.startDate | date}}</div>
                <div mat-line>Start date</div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>event_busy</mat-icon>
                <div mat-line>{{ (event.endDate | date) || 'Ongoing' }}</div>
                <div mat-line>End date</div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>people</mat-icon>
                <div mat-line>{{ event.players?.length }}</div>
                <div mat-line>Players</div>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
    <mat-card-actions *ngIf="event">
        <button mat-button *ngIf="event.key" (click)="details(event.key)">Details</button>
    </mat-card-actions>
    <mat-card-footer *ngIf="!event">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
</mat-card>
